<div class="flex flex-col items-center justify-center h-screen">
    <form [formGroup]="form" class="mb-4">
      <div class="flex flex-col mb-2">
        <label for="latitud" class="text-lg mb-2">Latitud:</label>
        <input type="text" id="latitud" formControlName="latitud" class="p-2 border border-gray-300 rounded" />
      </div>
      <div class="flex flex-col mb-2">
        <label for="longitud" class="text-lg mb-2">Longitud:</label>
        <input type="text" id="longitud" formControlName="longitud" class="p-2 border border-gray-300 rounded" />
      </div>
      <button type="button" (click)="consultarDatos()" [disabled]="form.invalid"
        [ngClass]="{'cursor-not-allowed': form.invalid}"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded disabled:opacity-50">
        Consultar
      </button>
    </form>
    <div *ngIf="datos" class="bg-gray-200 p-4 mt-4 rounded">
      <pre class="whitespace-pre-wrap">{{ datos | json }}</pre>
    </div>
  </div>